# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pid

# Environments
venv/
.env
*.env

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db